fastapi
sqlalchemy
pydantic
alembic
uvicorn
pymysql
python-dotenv
amadeus

# --- AI/RAG 쪽 ---
requests
jinja2
langchain
huggingface_hub
langchain-openai
pypdf
numpy==1.26.2
langsmith
openai
langgraph
python-dateutil
langchain-teddynote
openevals
backoff

# --- preprocess ---
faiss-cpu==1.7.4
langchain_anthropic
langchain_community
langchain-text-splitters
langchain_experimental
langchain-huggingface
langchain_chroma
unstructured[pdf]
# pdf2image
# pi-heif
pdfplumber
langchain_mcp_adapters>=0.0.7
mcp[cli]
# langgraph>=0.3.21
fastapi_mcp
asyncio

# pip install -r requirements.txt
# 실행 cmd simplify용
-e .