fastapi
sqlalchemy
pydantic
alembic
uvicorn
pymysql
python-dotenv
amadeus

# --- AI/RAG 쪽 ---
requests 
langchain
huggingface_hub
langchain-openai
pypdf
numpy==1.26.2
langsmith
openai
langgraph
python-dateutil
